$font-size: (
  xs: 12px,
  s: 16px,
  m: 20px,
  l: 24px,
  xl: 32px,
);
$line-height: (
  xxs: 14px,
  xs: 18px,
  s: 24px,
  m: 34px,
  l: 36px,
  xl: 40px,
);
$font-weight: (
  l: 300,
  r: 400,
  m: 500,
  sb: 600,
  b: 700,
);
