.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 10px;
}

.item {
  position: relative;
  padding: 20px;
  overflow: hidden;
  font-size: 1rem;
  background-color: #fff;
  border: 2px dashed #aaa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

.item:hover {
  border-color: #666;
  box-shadow: 0 6px 10px rgb(0 0 0 / 20%);
}

.label_archive {
  display: flex;
  padding: 10px;
}

.archive_text {
  margin-left: 8px;
}

.link {
  color: #333;
}

.name {
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4a4a4a;
  border-bottom: 2px solid #4a4a4a;
}

.label {
  margin: 8px 0;
  font-size: 0.875rem;
  font-weight: bold;
  color: #6a6a6a;
}

.role,
.phone {
  margin-bottom: 8px;
  font-size: 1rem;
  color: #555;
}

.phone {
  font-size: 0.875rem;
  color: #777;
}
